*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

h2.heading-2 {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  h2.heading-2:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2); }

h3.heading-3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777; }

.paragraph {
  font-size: 1.5rem;
  color: #777; }
  .paragraph:not(:last-child) {
    margin-bottom: 1.8rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.8rem; }

.u-center-text {
  text-align: center; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  border: none; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.8);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.1); }

.btn::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 0.3rem; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  transform: translateY(0); }

.card {
  height: 52rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__side {
    height: 52rem;
    width: 100%;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__photo {
    height: 40%;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__photo--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg); }
    .card__photo--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6.jpg); }
    .card__photo--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg); }
  .card__heading {
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 68%;
    color: #fff;
    font-weight: 300;
    font-size: 3rem;
    text-align: right; }
    .card__heading-span {
      text-transform: uppercase;
      padding: 1rem 1.5rem; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone; }
      .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone; }
      .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone; }
  .card__list {
    list-style: none;
    padding: 3rem;
    width: 80%;
    margin: 0 auto; }
  .card__item {
    padding: 1rem; }
    .card__item:not(:last-child) {
      border-bottom: 1px solid #eee; }
  .card__price-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  .card__price {
    color: #fff;
    margin-bottom: 8rem; }
    .card__price--only {
      display: block;
      font-size: 1.6rem; }
    .card__price--value {
      display: block;
      font-size: 7rem;
      font-weight: 100; }

.composition {
  position: relative; }
  .composition__img {
    width: 55%;
    position: absolute;
    transition: all 0.2s;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
    outline-offset: 2rem; }
    .composition__img-1 {
      top: -2rem;
      left: 0; }
    .composition__img-2 {
      top: 2rem;
      right: 0rem; }
    .composition__img-3 {
      top: 10rem;
      left: 20%; }
    .composition__img:hover {
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.4);
      z-index: 10;
      outline: 2rem solid #55c57a; }
  .composition:hover .composition__img:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  padding: 3rem 3.5rem;
  background-color: rgba(238, 238, 238, 0.8);
  text-align: center;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 4rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: scale(1.1) translateY(-1rem);
    box-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.4); }

.form {
  width: 100%;
  height: 100%; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__group:last-child {
    margin-top: 4rem; }
  .form__group:after {
    content: '';
    clear: both;
    display: table; }
  .form__input {
    display: block;
    width: 90%;
    padding: 1.5rem 2rem;
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.2s; }
    .form__input:focus {
      outline: none;
      border-bottom: 2px solid #55c57a; }
      .form__input:focus:invalid {
        border-bottom: 2px solid #ff7730; }
    .form__input::placeholder {
      font-size: 1.4rem;
      color: #999; }
    .form__input:placeholder-shown + .form__label {
      transform: translateY(-4rem);
      opacity: 0; }
  .form__label {
    display: block;
    margin-top: 0.7rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    color: #777;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s; }
  .form__radio-group {
    width: 49%;
    float: left;
    position: relative; }
  .form__radio-input {
    opacity: 0;
    visibility: hidden; }
    .form__radio-input:checked + .form__radio-label .form__radio-btn::after {
      opacity: 1; }
  .form__radio-label {
    display: inline-block;
    font-size: 1.6rem;
    color: #777;
    padding-left: 3rem;
    cursor: pointer; }
  .form__radio-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.5rem solid #55c57a; }
    .form__radio-btn::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.5rem;
      height: 1.5rem;
      background-color: #55c57a;
      border-radius: 50%;
      opacity: 0; }

.row {
  padding: 0px;
  margin: 0 auto;
  max-width: 114rem; }
  .row:after {
    content: '';
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }

.col {
  display: block;
  float: left; }
  .col:not(:last-child) {
    margin-right: 5.5%; }

.col-1-of-2 {
  width: 47.25%; }

.col-1-of-3 {
  width: 29.66%; }

.col-1-of-4 {
  width: 20.87%; }

.header {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem; }
  .header__logo {
    height: 3.5rem; }
  .header__content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase; }
  .header__title {
    color: #fff; }
    .header__title > * {
      display: block; }
  .header__main-title {
    font-size: 6rem;
    letter-spacing: 3.3rem; }
  .header__sub-title {
    font-size: 2rem;
    letter-spacing: 1.65rem; }

.strories {
  padding: 20rem 0;
  position: relative; }
  .strories .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.15; }
    .strories .bg-video__content {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.story {
  width: 80%;
  margin: 0 auto;
  padding: 6rem;
  background-color: rgba(238, 238, 238, 0.5);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
  transform: skewX(-12deg); }
  .story:after {
    content: '';
    clear: both;
    display: table; }
  .story > * {
    transform: skewX(12deg); }
  .story__user {
    width: 15rem;
    height: 15rem;
    position: relative;
    text-align: center;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 3rem; }
    .story__user-photo {
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-in-out; }
    .story__user-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      opacity: 0;
      transition: all 0.5s ease-out;
      backface-visibility: hidden; }
  .story__review {
    padding-top: 1%; }
  .story:hover .story__user .story__user-photo {
    filter: blur(3px) brightness(80%); }
  .story:hover .story__user .story__user-name {
    transform: translate(-50%, -50%);
    opacity: 1; }

.book {
  background-image: linear-gradient(105deg, #f7f7f7 0%, #f7f7f7 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    height: 100%;
    padding: 6rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }

.section-feature {
  margin-top: -12rem;
  padding: 20rem 0;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  transform: skewY(-7deg); }
  .section-feature > * {
    transform: skewY(7deg); }

.section-tours {
  margin-top: -12rem;
  padding: 25rem 0 15rem 0;
  background-color: #f7f7f7;
  text-align: center; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
