// COLORS
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-ver: 8rem;
$gutter-hor: 5.5%;

// BOX SHADOW
$box-shadow-dafault: 0 1rem 2.5rem rgba($color-black, 0.2);
$box-shadow-active: 0 0.8rem 1.5rem rgba($color-black, 0.1);
