.strories {
  padding: 20rem 0;
  position: relative;

  @include respond(tab-land) {
    padding: 10rem 0;
  }
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.15;

    &__content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.story {
  width: 80%;
  margin: 0 auto;
  padding: 6rem;
  background-color: rgba($color-grey-light-2, 0.5);
  box-shadow: $box-shadow-default;
  transform: skewX(-12deg);

  @include clearboth;

  @include respond(tab-port) {
    width: 100%;
    transform: skew(0);
  }

  > * {
    transform: skewX(12deg);

    @include respond(tab-port) {
      transform: skew(0);
    }
  }

  &__user {
    width: 15rem;
    height: 15rem;
    position: relative;
    text-align: center;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 3rem;

    &-photo {
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-in-out;
    }

    &-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      font-size: $default-font-size;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-white;
      opacity: 0;
      transition: all 0.5s ease-out;
      backface-visibility: hidden;
    }
  }

  &__review {
    padding-top: 1%;

    p {
      text-align: justify;
      hyphens: auto;
    }
  }

  &:hover &__user &__user-photo {
    filter: blur(3px) brightness(80%);
  }

  &:hover &__user &__user-name {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
